<nav class="navbar  navbar-light bg-danger text-white">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="/pokemons">PokeDexTest</a>
        <form action = '/pokemons/search' method = "get" class="d-flex">
          <input  name = "pokename" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-danger" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
