<% layout('./layouts/boilerplate') -%>
<div class="row">
    <div class="col-6 offset-3 text-center">
        <h2>Welcome to Pokedex</h2>
        <h5>Made by Jaswanth using the poke-v2-api</h3>
        <div style="margin-top: 40px; display: inline-block;">
            <a class ="btn btn-danger" href="/user/new">Sign Up</a>
        </div>
        <div style="margin-top: 40px; display: inline-block;">
            <a class ="btn btn-danger" href="/user/login">Login</a>
        </div>
    </div>
</div>