<% layout('./layouts/boilerplate') -%>
<div class="row">
    <div class="col-6 offset-3">
        <h2 class = "text-center">All Pokemons available</h2>
    </div>
</div>
    <div class="row row-cols-1 row-cols-md-4 g-6">
        <% for(let pokemon of data) { %> 
            <div class="col">
                <div class="card">
                  <img src="<%= pokemon.image %>" class="card-img-top img-fluid" alt="...">
                  <div class="card-body">
                    <h5 class="card-title"><a href="/pokemons/<%= pokemon._id %>"><%= pokemon.name %></a></h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  </div>
                </div>
              </div>
        <% } %> 
      </div>

