<% layout('./layouts/boilerplate') -%>
<div class="row">
    <div class="col-6 offset-3">
        <h5>Pokemon Not Found</h5>
        <form action="/pokemons/<%= pokename %>" method="POST">
            <input class ="btn btn-success" type="submit" value="Add pokemon to database">
        </form>
    </div>
</div>